{% load static %}

<link rel="stylesheet" href="{% static 'backoffice/assets/plugins/bootstrap/css/bootstrap.min.css' %}">
<!-- JQuery DataTable Css -->
<link rel="stylesheet" href="{% static 'backoffice/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css' %}">
<!-- Custom Css -->
<link  rel="stylesheet" href="{% static 'backoffice/assets/css/main.css' %}">
<link rel="stylesheet" href="{% static 'backoffice/assets/css/color_skins.css' %}">
<link rel="stylesheet" href="{% static 'backoffice/assets/plugins/multi-select/css/multi-select.css' %}">
<link rel="stylesheet" href="{% static 'backoffice/assets/plugins/bootstrap-select/css/bootstrap-select.css' %}">
