{% extends 'backoffice/base.html' %}
{% load static %}

{% block title %}Hodim Qidirish{% endblock %}

{% block content %}
    <!-- Main Content -->
    <section class="content home">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Hodim Qidirish</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="body">
                            <table class="table table-borderless table-striped table-hover table-responsive" id="searching_staff">
                                <thead>
                                    <tr>
                                        <th>Xodim</th>
                                        <th>Ish boshlagan sana</th>
                                        <th>Bo'lim</th>
                                        <th>Lavozim</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for searching_staff in searching_staffs %}
                                        <tr>
                                            <td><a href="{% url 'staff-detail' searching_staff.id %}">{{ searching_staff.first_name }} {{ searching_staff.second_name }} {{ searching_staff.last_name }}</a></td>
                                            <td>{{ searching_staff.start_work_at }}</td>
                                            <td>{{ searching_staff.department.name }}</td>
                                            <td>{{ searching_staff.position.name }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="header">
                            <h2><i class="zmdi zmdi-settings zmdi-hc-spin"></i> Bot integratsiyalari va sozlamalari</h2>
                        </div>
                        <div class="body">
                            <div class="list-group">
                                <a href="{% url 'bot_c_l' %}" class="list-group-item">Bot integratsiya</a>
                                <a href="{% url 'admin_bot' %}" class="list-group-item">Bot Admin</a>
                                <a href="{% url 'entry_text' %}" class="list-group-item">Bot kirish qismi texti</a>
                                <a href="{% url 'finish_text' %}" class="list-group-item">Bot so'ngi qismi texti</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Jquery Core Js -->
{% endblock %}

{% block js %}
    <script>
        $(function () {

            var table = $('#searching_staff').DataTable({
                "oLanguage": {

                    "sSearch": "Qidiruv:",
                    "sLengthMenu": "Ko’rsatkich _MENU_ talik",
                    "sInfo": "Sahifa _START_ dan _END_ gacha, umumiy _TOTAL_",
                    "oPaginate": {
                        "sFirst": "Birinchi sahifa", // This is the link to the first page
                        "sPrevious": "Oldingi sahifa", // This is the link to the previous page
                        "sNext": "Keyengi sahifa", // This is the link to the next page
                        "sLast": "Oxirgi sahifa" // This is the link to the last page
                    }

                }
            });
        })
    </script>
{% endblock %}