{% extends 'backoffice/base.html' %}
{% load static %}
{% block title %}
    Bo'lim - Taxrirlash
{% endblock %}


{% block content %}
    <section class="content home">
        <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Bosh sahifa</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="create.html"><i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item active">Bosh sahifa</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">
                        <input type="text" class="form-control" placeholder="Qidirish...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-search"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                    </div>
                    <div class="body">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="field_wrapper">
                                <div class="mt-3">
                                    <label for="explicit-label-name-1">Savol-1: </label>
                                    <input type="text" id="explicit-label-name-1" name="field_name" value="" required/>
                                    <a href="javascript:void(0);" class="add_button" title="Add field">
                                        <img src="{% static 'backoffice/assets/images/add-icon.png' %}"/>
                                    </a>
                                </div>
                            </div>
                            <button type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    var maxField = 50; //Input fields increment limitation<
    var addButton = $('.add_button'); //Add button selector
    var wrapper = $('.field_wrapper'); //Input field wrapper
    var x = 1; //Initial field counter is 1


    //Once add button is clicked
    $(addButton).click(function(){
        var fieldHTML = '<div class="mt-3">' +
            '<label for="explicit-label-name' + (x+1) + '">Savol-' + (x+1) + ': </label>' +
            '<input type="text" id="explicit-label-name' + (x+1) + '" name="field_name" value="" required/>' +
                '<a href="javascript:void(0);" class="remove_button m-l-5">' +
                    '<img src="{% static 'backoffice/assets/images/remove-icon.png' %}"/>' +
                '</a>' +
            '</div>'; //New input field html
        if(x < maxField){
            x++; //Increment field counter
            $(wrapper).append(fieldHTML); //Add field html
        }
    });

    //Once remove button is clicked
    $(wrapper).on('click', '.remove_button', function(e){
        e.preventDefault();
        $(this).parent('div').remove(); //Remove field html
        x--; //Decrement field counter
    });
});

</script>
{% endblock %}