{% extends 'backoffice/base.html' %}

{% load app_tags %}
{% block title %}
    Company Culture
{% endblock %}

{#zmdi-hc-spin#}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Company Culture</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="{% url 'backoffice-main' %}"><i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item active">Company Culture</li>
                    </ul>
                </div>
            </div>
        </div>
            <!-- Disabled Items -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">

                            <button type="button" data-color="pink" data-toggle="modal" data-target="#colorModal"
                                    class="btn btn-success waves-effect"><i class="zmdi zmdi-plus"></i> Biriktirish
                            </button>

                        </div>
                        <div class="body table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>O'chirish</th>
                                    <th>Taxrirlash</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in items %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>

                                            {{ item.title }}

                                        </td>
                                        <td>
                                            <form action="{% url 'company_culture_delete' pk=item.pk %}" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-neutral waves-effect"><i class="zmdi zmdi-delete"></i></button>
                                            </form>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" data-color="pink"
                                               data-toggle="modal" data-target="#staff_adaptation{{ item.id }}"
                                               class="btn btn-neutral waves-effect"><i class="zmdi zmdi-edit"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Disabled Items -->
        </div>
    </section>

    <div class="modal fade" id="colorModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-white">
                <div class="modal-header">

                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="header">
                            <h2>Biriktirish</h2>
                        </div>
                        <div class="body">
                            <form action="{% url 'company_culture' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.media|safe }}
                                {{ form.as_p }}
                                <input type="submit" class="btn btn-info" value="Save">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-round" data-dismiss="modal"><i
                            class="zmdi zmdi-close"></i></button>
                </div>
            </div>
        </div>
    </div>

    {% for item in items %}
        <div class="modal fade" id="staff_adaptation{{ item.id }}" tabindex="-1" role="dialog" style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-white">
                    <div class="modal-header">
                        <h4 class="title text-dark">Taxrirlash</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'company_culture_update' pk=item.id %}" method="POST"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media|safe }}

                            {% with form|fill_fields:item as f %}
                                {{ f.as_p }}
                            {% endwith %}
                            <input type="submit" class="btn btn-info" value="Save">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal"><i
                                class="zmdi zmdi-close"></i></button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}