{% extends 'backoffice/base.html' %}

{% load app_tags %}
{% block title %}
    Ish jadvali yaratish
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h2>Ish jadvali yaratish</h2>
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href="{% url 'backoffice-main' %}"><i
                                    class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="{% url 'company_schedule' %}">Kompaniya ish vaqti</a>
                            </li>
                            <li class="breadcrumb-item active">Ish jadvali yaratish</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="card">
                    <div class="body">
                        <form method="post" id="myForm">
                            {% csrf_token %}
                            <form method="post">
                                {{ form.as_p }}

                                {% for formset in inlines %}
                                    {{ formset.as_p }}
                                {% endfor %}
                                <input type="submit" value="Submit"/>
                            </form>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}

{% block js %}{% endblock %}
