{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row">
            <h1 class="text-center">New Vacancy</h1>
            <form action="{% url 'departmets' %}" method="post" enctype="multipart/form-data" class="form"
                  style="width: 500px;margin: 10px auto;">
                {% csrf_token %}
                <p>To'lliq ism familiyasi</p>
                {{ form.full_name }}<br>
                <p>Tug'ilgan yili</p>
                {{ form.birth_date }}<br>
                <p>Rasimi</p>
                {{ form.image }}<br>
                <div class="container">
                    <div class="dropdown">
                        <div class="select">
                            <span>Bo'limni tanlang</span>
                            <i class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="gender">
                        <ul class="dropdown-menu">
                            {% for item in department %}
                                <li id="{{ item.id }}">{{ item.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="msg container"></div>
                </div>
                <br>
                <input class="btn btn-primary" type="submit" value="Save">
            </form>
        </div>
    </div>



    <style>

        * {
            outline: 0;
            font-family: sans-serif
        }


        span.msg,
        span.choose {
            color: #555;
            padding: 5px 0 10px;
            display: inherit
        }

        .container {
            margin: 0px auto;
            text-align: center
        }

        /*Styling Selectbox*/
        .dropdown {
            width: 300px;
            display: inline-block;
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0 0 2px rgb(204, 204, 204);
            transition: all .5s ease;
            position: relative;
            font-size: 14px;
            color: #474747;
            height: 100%;
            text-align: left
        }

        .dropdown .select {
            cursor: pointer;
            display: block;
            padding: 10px
        }

        .dropdown .select > i {
            font-size: 13px;
            color: #888;
            cursor: pointer;
            transition: all .3s ease-in-out;
            float: right;
            line-height: 20px
        }

        .dropdown:hover {
            box-shadow: 0 0 4px rgb(204, 204, 204)
        }

        .dropdown:active {
            background-color: #f8f8f8
        }

        .dropdown.active:hover,
        .dropdown.active {
            box-shadow: 0 0 4px rgb(204, 204, 204);
            border-radius: 2px 2px 0 0;
            background-color: #f8f8f8
        }

        .dropdown.active .select > i {
            transform: rotate(-90deg)
        }

        .dropdown .dropdown-menu {
            position: absolute;
            background-color: #fff;
            width: 100%;
            left: 0;
            margin-top: 1px;
            box-shadow: 0 1px 2px rgb(204, 204, 204);
            border-radius: 0 1px 2px 2px;
            overflow: hidden;
            display: none;
            max-height: 144px;
            overflow-y: auto;
            z-index: 9
        }

        .dropdown .dropdown-menu li {
            padding: 10px;
            transition: all .2s ease-in-out;
            cursor: pointer
        }

        .dropdown .dropdown-menu {
            padding: 0;
            list-style: none
        }

        .dropdown .dropdown-menu li:hover {
            background-color: #f2f2f2
        }

        .dropdown .dropdown-menu li:active {
            background-color: #e2e2e2
        }
    </style>
{% endblock %}

{% block script %}
    <script>
        /*Dropdown Menu*/
        $('.dropdown').click(function () {
            $(this).attr('tabindex', 1).focus();
            $(this).toggleClass('active');
            $(this).find('.dropdown-menu').slideToggle(300);
        });
        $('.dropdown').focusout(function () {
            $(this).removeClass('active');
            $(this).find('.dropdown-menu').slideUp(300);
        });
        $('.dropdown .dropdown-menu li').click(function () {
            $(this).parents('.dropdown').find('span').text($(this).text());
            $(this).parents('.dropdown').find('input').attr('value', $(this).attr('id'));
        });
        /*End Dropdown Menu*/


        $('.dropdown-menu li').click(function () {
            var department_id = $(this).parents('.dropdown').find('input').val();
            $.ajax({
                url: {% url 'ajax_department' %},
                method: 'GET',
                data: {
                    'department_id': department_id
                },
                dataType: "json",
                success: function (data) {
                    $.each(data, function (index, value) {
                        value = JSON.parse(value);
                        {#$('.msg').val('');#}
                        $('.msg').find('span').remove();
                        $.each(value, function (index, value) {
                            $('.msg').append(
                                '<span>' + value['fields'].question + ' <input type="text" class="form-control" name=dep_' + value['pk'] + '> <br></span>'
                            );
                        });
                        $('.msg').append('<input type="hidden" name="department_id" value=' + department_id + '>');
                    });
                },
                error: function (response) {
                    console.log("xaato");
                }
            });
        });

    </script>

{% endblock %}