{% extends 'backoffice/base.html' %}

{% block title %}
    Hodim Training
{% endblock %}

{#zmdi-hc-spin#}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Hodim Training</h2>
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href="{% url 'backoffice-main' %}"><i
                                    class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item active">Hodim Training</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Disabled Items -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">

                        </div>
                        <div class="body">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="card">
                                    <div class="header">

                                    </div>
                                    <div class="body">
                                        <table class="table table-borderless table-striped table-hover" id="training_answer">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>To'liq ismi</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for staff in staffs %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>
                                                        <a href="#" data-toggle="modal"
                                                           data-target="#defaultModal{{ staff.id }}">{{ staff.first_name }} {{ staff.second_name }} {{ staff.last_name }}</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Disabled Items -->

        </div>
    </section>

    {% for item in staffs %}
        <div class="modal fade" id="defaultModal{{ item.id }}" tabindex="-1" role="dialog" style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Javoblar</h5>
                        <button type="button" class="btn btn-neutral"
                                data-dismiss="modal" style="padding: 0 !important;"><i class="zmdi zmdi-close"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for answer in answers %}
                            {% if answer.staff == item %}
                                <p>{{ answer.question }}</p>
                                <p>{{ answer.answer }}</p>
                                <hr>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block js %}
    <script>
        $(function () {

            $('#training_answer').DataTable({
                paging: true,
                autoWidth: false,
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "columnDefs": [
                    {type: "num", targets: 0},
                    {type: "phoneNumber", targets: 1},
                ],

                "oLanguage": {
                    "sEmptyTable": "Ro'yxat bo'sh",
                    "sSearch": "Qidiruv:",
                    "sLengthMenu": "Ko’rsatkich _MENU_ talik",
                    "sInfo": "Sahifa _START_ dan _END_ gacha, umumiy _TOTAL_",
                    "oPaginate": {
                        "sFirst": "Birinchi sahifa", // This is the link to the first page
                        "sPrevious": "Oldingi sahifa", // This is the link to the previous page
                        "sNext": "Keyengi sahifa", // This is the link to the next page
                        "sLast": "Oxirgi sahifa" // This is the link to the last page
                    }

                },
            });
        })
    </script>
{% endblock %}