{% extends 'backoffice/base.html' %}

{% block title %}
    Training Answers
{% endblock %}

{#zmdi-hc-spin#}
{% block content %}
    <section class="content">
        <div class="container-fluid">

            <!-- Disabled Items -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <ul class="list-unstyled">
                                <li>
                                    <h2><i class="zmdi zmdi-info-outline"></i> Info</h2>
                                </li>
                                <li>
                                    <a href="">Training Answers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <a href="" class="btn btn-success">Lavozim qo'shish <i class="zmdi zmdi-plus"></i></a>
                                    </div>
                                    <div class="body table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>To'liq ismi</th>
                                                <th>O'shirish</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for staff in staffs %}
                                                    <tr>
                                                        <td>{{ staff.id }}</td>
                                                        <td>{{ staff.first_name }} {{ staff.second_name }} {{ staff.last_name }}</td>
                                                        <td>
                                                            <form action="" method="POST">
                                                                {% csrf_token %}
                                                                <button class="btn btn-neutral" type="submit" ><i class="zmdi zmdi-delete"></i></button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Disabled Items -->

        </div>
    </section>
{% endblock %}