{% extends 'backoffice/base.html' %}

{% block title %}
     Ushlab qolish yoki qo’shimcha to’lovlar nomini yaratish
{% endblock %}


{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Hodimning ish haqqi</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="backoffice"><i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Ushlab qolish yoki qo’shimcha to’lovlar nomini yaratish</a></li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-search"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                    </div>
                    <div class="body">
                        <div class="button-demo js-modal-buttons d-flex justify-content-between">
                            <button type="button" data-color="pink" data-toggle="modal" data-target="#colorModal" class="btn btn-success waves-effect"><i class="zmdi zmdi-plus"></i> Biriktirish</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                    </div>
                    <div class="body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nomi</th>
                                    <th>O'chirish</th>
                                    <th>Taxrirlash</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in additional_payments_types %}
                                <tr>
                                    <th scope="row">{{ item.id }}</th>
                                    <td>{{ item.name }}</td>
                                    <td>
                                        <form action="{% url 'additional_payment_type_delete' pk=item.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-neutral"><i class="zmdi zmdi-delete"></i></button>
                                        </form>
                                    </td>
                                    <td>
                                        <button type="button" data-color="pink" data-toggle="modal" data-target="#colorModal{{ item.id }}" class="btn btn-neutral waves-effect"><i class="zmdi zmdi-edit"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

    <div class="modal fade" id="colorModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-white">
                <div class="modal-header">
                    <h4 class="title text-dark">Ish haqqini biriktirish</h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'additional_payment_type_create' %}" method="post">
                        {% csrf_token %}
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name" class="text-dark">Nomi:</label>
                                <input type="text" name="name" id="name" class="form-control" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Yaratish</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-round" data-dismiss="modal"><i class="zmdi zmdi-close"></i></button>
                </div>
            </div>
        </div>
</div>
    {% for item in additional_payments_types %}
        <div class="modal fade" id="colorModal{{ item.id }}" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-white">
                    <div class="modal-header">
                        <h4 class="title text-dark">Ish haqqini biriktirish</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'additional_payment_type_update' item.id %}" method="post">
                        {% csrf_token %}
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name" class="text-dark">Nomi:</label>
                                <input type="text" name="name" id="name" class="form-control" value="{{ item.name }}">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Yaratish</button>
                    </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-round" data-dismiss="modal"><i class="zmdi zmdi-close"></i></button>
                    </div>
                </div>
            </div>
    </div>
    {% endfor %}

{% endblock %}