{% extends 'backoffice/base.html' %}

{% block title %}
     Ushlab qolish yoki qo’shimcha to’lovlar nomini yaratish
{% endblock %}


{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2>Ushlab qolish yoki qo’shimcha to’lovlar nomini yaratish</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="{% url 'backoffice-main' %}"><i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="{% url 'staff' %}">Xodimlar</a></li>
{#                        <li class="breadcrumb-item"><a href="{% url 'staff-detail' staff.id %}">{{ staff.first_name }} {{ staff.second_name }} {{ staff.last_name }}</a></li>#}
                        <li class="breadcrumb-item">Ushlab qolish yoki qo’shimcha to’lovlar nomini yaratish</li>
                    </ul>
                    {% if messages %}
                             {% for message in messages %}
                                 <div class="text-center btn btn-success rounded-lg w-100 btn-{{ message.tags }} messages">
                                     <p class="text-center">{{ message|safe }}</p>
                                 </div>
                             {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <div class="button-demo js-modal-buttons d-flex justify-content-between">
                            <button type="button" data-color="pink" data-toggle="modal" data-target="#colorModal" class="btn btn-success waves-effect"><i class="zmdi zmdi-plus"></i> Biriktirish</button>
                        </div>
                    </div>
                    <div class="body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nomi</th>
                                    <th>O'chirish</th>
                                    <th>Taxrirlash</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in additional_payments_types %}
                                <tr>
                                    <th scope="row">{{ item.id }}</th>
                                    <td>{{ item.name }}</td>
                                    <td>
                                         <a href="javascript:void(0);" data-color="pink"
                                               data-toggle="modal" data-target="#item-{{ item.id }}"
                                               class="btn btn-neutral waves-effect">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.3248 9.4682C19.3248 9.4682 18.7818 16.2032 18.4668 19.0402C18.3168 20.3952 17.4798 21.1892 16.1088 21.2142C13.4998 21.2612 10.8878 21.2642 8.27979 21.2092C6.96079 21.1822 6.13779 20.3782 5.99079 19.0472C5.67379 16.1852 5.13379 9.4682 5.13379 9.4682" stroke="#ED5E5E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M20.708 6.2397H3.75" stroke="#ED5E5E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M17.4406 6.2397C16.6556 6.2397 15.9796 5.6847 15.8256 4.9157L15.5826 3.6997C15.4326 3.1387 14.9246 2.7507 14.3456 2.7507H10.1126C9.53358 2.7507 9.02558 3.1387 8.87558 3.6997L8.63258 4.9157C8.47858 5.6847 7.80258 6.2397 7.01758 6.2397" stroke="#ED5E5E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                                        </a>
                                    </td>
                                    <td>
                                        <button type="button" data-color="pink" data-toggle="modal" data-target="#colorModal{{ item.id }}" class="btn btn-neutral waves-effect"><i class="zmdi zmdi-edit"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="header">
                        <div class="button-demo js-modal-buttons d-flex justify-content-between">
                            <button type="button" data-color="pink" data-toggle="modal" data-target="#colorModal" class="btn btn-success waves-effect"><i class="zmdi zmdi-plus"></i> Biriktirish</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

    <div class="modal fade" id="colorModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-white">
                <div class="modal-header">
                    <h4 class="title text-dark">Biriktirish</h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'additional_payment_type_create' %}" method="post">
                        {% csrf_token %}
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name" class="text-dark">Nomi:</label>
                                <input type="text" name="name" id="name" class="form-control" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Yaratish</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-round" data-dismiss="modal"><i class="zmdi zmdi-close"></i></button>
                </div>
            </div>
        </div>
</div>
    {% for item in additional_payments_types %}
        <div class="modal fade" id="colorModal{{ item.id }}" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-white">
                    <div class="modal-header">
                        <h4 class="title text-dark">Biriktirish</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'additional_payment_type_update' item.id %}" method="post">
                        {% csrf_token %}
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name" class="text-dark">Nomi:</label>
                                <input type="text" name="name" id="name" class="form-control" value="{{ item.name }}">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Yaratish</button>
                    </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-round" data-dismiss="modal"><i class="zmdi zmdi-close"></i></button>
                    </div>
                </div>
            </div>
    </div>
    {% endfor %}

    {% for item in additional_payments_types %}
        <div class="modal fade" id="item-{{ item.id }}" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-white">
                <div class="modal-header">

                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="header">
                            <h2>O'chirmoqchimisiz?</h2>
                        </div>
                        <div class="body d-flex justify-content-around">
                            <button type="button" class="btn btn-success rounded-lg waves-effect" data-dismiss="modal">Bekor qilish</button>
                            <form action="{% url 'additional_payment_type_delete' pk=item.pk %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger rounded-lg waves-effect">O'chirish</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}

{% block js %}
    <script>
        setTimeout(fade_out, 3000);
        function fade_out() {
            $(".messages").fadeOut().empty();
        }
    </script>
{% endblock %}