{% extends 'backoffice/base.html' %}

{% block title %}
    {{ request.user.company }}
{% endblock %}

{#zmdi-hc-spin#}
{% block content %}
    <section class="content">
        <div class="container-fluid">

            <!-- Disabled Items -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <ul class="list-unstyled">
                                <li>
                                    <h2><i class="zmdi zmdi-info-outline"></i> Info</h2>
                                </li>
                                <li>
                                    <a href="">Kompaniya sozlamalari</a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="list-group">
                                <h1 class="text-center">{{ request.user.company }}</h1>
                               {{ company.company.text|safe }}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Disabled Items -->
            <!-- Disabled Items -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="header">
                    </div>
                    <div class="body">
                       <ul class="list-group">
                            <li class="list-group-item"><strong>Konpaniya logosi: </strong><img src="{{ item.logo_url }}" style="width: 300px;height: 300px;" alt=""></li>
                            <li class="list-group-item"><strong>Konpaniya nomi: </strong>{{ item.name }}</li>
                            <li class="list-group-item"><strong>Konpaniya telefon raqami: </strong>{{ item.phone }}</li>
                            <li class="list-group-item"><strong>Konpaniya turi: </strong>{{ item.type.name }}</li>
                            <li class="list-group-item"><strong>Konpaniya manzili: </strong>{{ item.address }}</li>
                            <li class="list-group-item"><strong>Konpaniya asoschisi: </strong>{{ item.creator }}</li>
                            <li class="list-group-item"><strong>Konpaniya ishchilar soni: </strong>{{ item.amount_of_staff }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
            <!-- #END# Disabled Items -->

        </div>
    </section>
{% endblock %}