{% extends 'backoffice/base.html' %}
{% load static %}
{% load mptt_tags %}
{% block title %}
    Lavozim
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'backoffice/assets/plugins/nestable/jquery-nestable.css' %}">
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Lavozim</h2>
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href="create.html"><i class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item active">Lavozim</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <a href="{% url 'position_create' %}" class="btn btn-success">Lavozim qo'shish <i class="zmdi zmdi-plus"></i></a>
                        </div>
                        <div class="body table-responsive">
                            <table class="table table-hover" id="positions">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Lavozim</th>
                                    <th>O'shirish</th>
                                    <th>Taxrirlash</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for position in positions %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>
                                            <a href="#" data-toggle="modal" data-target="#defaultModal{{ position.id }}">
                                                {{ position.name }}
                                            </a>
                                        </td>
                                        <td>
                                            <form action="{% url 'position_delete' pk=position.pk %}" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-neutral waves-effect">
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.3248 9.4682C19.3248 9.4682 18.7818 16.2032 18.4668 19.0402C18.3168 20.3952 17.4798 21.1892 16.1088 21.2142C13.4998 21.2612 10.8878 21.2642 8.27979 21.2092C6.96079 21.1822 6.13779 20.3782 5.99079 19.0472C5.67379 16.1852 5.13379 9.4682 5.13379 9.4682" stroke="#ED5E5E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M20.708 6.2397H3.75" stroke="#ED5E5E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M17.4406 6.2397C16.6556 6.2397 15.9796 5.6847 15.8256 4.9157L15.5826 3.6997C15.4326 3.1387 14.9246 2.7507 14.3456 2.7507H10.1126C9.53358 2.7507 9.02558 3.1387 8.87558 3.6997L8.63258 4.9157C8.47858 5.6847 7.80258 6.2397 7.01758 6.2397" stroke="#ED5E5E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                                                </button>
                                            </form>
                                        </td>
                                    <td>
                                        <a href="{% url 'position_update' position.id %}" class="btn btn-neutral waves-effect">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M13.7471 20.4429H20.9997" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.78 3.79479C13.5557 2.86779 14.95 2.73186 15.8962 3.49173C15.9485 3.53296 17.6295 4.83879 17.6295 4.83879C18.669 5.46719 18.992 6.80311 18.3494 7.82259C18.3153 7.87718 8.81195 19.7645 8.81195 19.7645C8.49578 20.1589 8.01583 20.3918 7.50291 20.3973L3.86353 20.443L3.04353 16.9723C2.92866 16.4843 3.04353 15.9718 3.3597 15.5773L12.78 3.79479Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11.0205 6.00089L16.4728 10.188" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                                        </a>
                                    </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Position</strong> Tree</h2>
                        <ul class="header-dropdown">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right">
									<li><a href="javascript:void(0);" class="boxs-close">Hide</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="clearfix m-b-20">
                                <link rel="stylesheet" media="screen, projection" href="{% static 'mptt_graph/tree.css' %}" />
                            <div class="text-center">
                                <div class="text-left" style="display:inline-block">
                                    <div class="tree">
                                        <ul>
                                        {% recursetree positions %}
                                            <li>
                                                <a href="{% if node.url %}{{ node.url }}{% else %}{{ node.get_absolute_url }}{% endif %}" id="{{ id }}">
                                                    {{ node.title }}{{ node.name }}
                                                    <div id="displayzone_{{ id }}" class="displayzone"></div>
                                                </a>
                                                {% if not node.is_leaf_node %}
                                                    <ul>
                                                        {{ children }}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                        {% endrecursetree %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
   {% for position in positions %}
         <div class="modal fade" id="defaultModal{{ position.id }}" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title" id="defaultModalLabel">{{ position.name }}</h4>
                    </div>
                    <div class="modal-body">
                        {% if position.info %}
                            {{ position.info }}
                        {% else %}
                            Ma'lumot yo'q
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
   {% endfor %}

{% endblock %}

{% block js %}
    <script>
        $(function () {

            $('#positions').DataTable({
                 dom: 'Bfrtip',
                 paging: true,
                 autoWidth: false,
                 buttons: [
                    'copy', 'excel', 'pdf', 'print'
                ],
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "columnDefs": [
                    { type: "num", targets: 0 },
                    { type: "phoneNumber", targets: 1 },
                    { type: "phoneNumber", targets: 2 },
                    { type: "phoneNumber", targets: 3 },
                ],
            });
        })
    </script>
    <script src="{% static 'backoffice/assets/plugins/nestable/jquery.nestable.js' %}"></script>
{#    <script src="{% static 'backoffice/assets/js/pages/ui/sortable-nestable.js' %}"></script>#}
    <script>

    </script>
{% endblock %}w