{% extends 'backoffice/base.html' %}

{% load app_tags %}
{% block title %}
    Shuxrat devori
{% endblock %}

{#zmdi-hc-spin#}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Shuxrat devori</h2>
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href="{% url 'backoffice-main' %}"><i
                                    class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item active">Shuxrat devori</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Disabled Items -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">

                            <button type="button" data-color="pink" data-toggle="modal" data-target="#colorModal"
                                    class="btn btn-success waves-effect"><i class="zmdi zmdi-plus"></i> Biriktirish
                            </button>

                        </div>
                        <div class="body table-responsive">
                            <table class="table table-hover table-striped table-borderless" id="super-staff">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Haftaing/Oyning</th>
                                    <th>Sana</th>
                                    <th>Eng zo'r hodimi</th>
                                    <th>O'chirish</th>
                                    <th>Taxrirlash</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in items %}
                                    <tr>
                                        <td>
                                            <p>{{ forloop.counter }}</p>
                                        </td>
                                        <td>
                                            <p>{{ item.type|capfirst }}</p>
                                        </td>
                                        <td>
                                            <p>{{ item.created_at }}</p>
                                        </td>
                                        <td>
                                            <p>{{ item.staff.first_name }} {{ item.staff.second_name }}</p>
                                        </td>
                                        <td>
                                            <form action="{% url 'super_staff_delete' pk=item.pk %}" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-neutral waves-effect"><i
                                                        class="zmdi zmdi-delete"></i></button>
                                            </form>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" data-color="pink"
                                               data-toggle="modal" data-target="#staff_adaptation{{ item.id }}"
                                               class="btn btn-neutral waves-effect"><i class="zmdi zmdi-edit"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Disabled Items -->
        </div>
    </section>

    <div class="modal fade" id="colorModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Biriktirish</h5>
                    <button type="button" class="btn btn-neutral" data-dismiss="modal"><i
                            class="zmdi zmdi-close" style="padding: 0 !important;"></i></button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="header">
                            <h2>Biriktirish</h2>
                        </div>
                        <div class="body">
                            <form action="{% url 'super_staff' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" class="btn btn-info" value="Save">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for item in items %}
        <div class="modal fade" id="staff_adaptation{{ item.id }}" tabindex="-1" role="dialog" style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-dark">Taxrirlash</h5>
                        <button type="button" class="btn btn-neutral" data-dismiss="modal" style="padding: 0 !important;">
                            <i class="zmdi zmdi-close"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'super_staff_update' pk=item.id %}" method="POST"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            {% with form|fill_fields:item as f %}
                                {{ f.as_p }}
                            {% endwith %}
                            <input type="submit" class="btn btn-info" value="Save">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block js %}
    <script>
        $(function () {

            $('#super-staff').DataTable({
                dom: 'Bfrtip',
                paging: true,
                autoWidth: false,
                buttons: [
                    'copy', 'excel', 'pdf', 'print'
                ],
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                 "oLanguage": {
                    "sEmptyTable": "Ro'yxat bo'sh",
                    "sSearch": "Qidiruv:",
                    "sLengthMenu": "Ko’rsatkich _MENU_ talik",
                    "sInfo": "Sahifa _START_ dan _END_ gacha, umumiy _TOTAL_",
                    "oPaginate": {
                        "sFirst": "Birinchi sahifa", // This is the link to the first page
                        "sPrevious": "Oldingi sahifa", // This is the link to the previous page
                        "sNext": "Keyengi sahifa", // This is the link to the next page
                        "sLast": "Oxirgi sahifa" // This is the link to the last page
                    }

                },
            });
        })
    </script>
{% endblock %}