{% extends 'backoffice/base.html' %}

{% block title %}
     Kuzariladigan hujjatlar
{% endblock %}


{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Kuzariladigan hujjatlar</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="backoffice"><i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Kuzariladigan hujjatlar</a></li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-search"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                    </div>
                    <div class="body">
                        <div class="button-demo js-modal-buttons">
                            <button type="button" data-color="pink" data-toggle="modal" data-target="#colorModal" class="btn btn-success waves-effect"><i class="zmdi zmdi-plus"></i> Biriktirish</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                    </div>
                    <div class="body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nomlanishi</th>
                                    <th>Berilgn sana</th>
                                    <th>Tugash mudati</th>
                                    <th>Hujjat</th>
                                    <th>O'chirish</th>
                                    <th>Taxrirlash</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for document in documents %}
                                <tr>
                                    <th scope="row">{{ document.id }}</th>
                                    <td>{{ document.name }}</td>
                                    <td>{{ document.date_of_issue }}</td>
                                    <td>{{ document.validity_period }}</td>
                                    <td><a href="{{ document.document.url }}" class="text-center"><i class="zmdi zmdi-file"></i>pdf/.doc</a></td>
                                    <td>
                                        <form action="{% url 'document_delete' pk=document.id %}" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-neutral"><i class="zmdi zmdi-delete"></i></button>
                                        </form>
                                    </td>
                                    <td>
                                        <button type="button" data-color="pink" data-toggle="modal" data-target="#colorModal{{ document.id }}" class="btn btn-neutral waves-effect"><i class="zmdi zmdi-edit"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

    <div class="modal fade" id="colorModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content bg-white">
                <div class="modal-header">
                    <h4 class="title text-dark">Ish haqqini biriktirish</h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'document' staff_id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="name" class="text-dark">Nomlanishi:</label>
                                    <input type="text" name="name" id="name" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="date_of_issue" class="text-dark">Berilgan sana:</label>
                                    <input type="date" name="date_of_issue" id="date_of_issue" class="form-control" required>
                                </div>
                        </div>
                        <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="validity_period" class="text-dark">Tugash mudati:</label>
                                    <input type="date" name="validity_period" id="validity_period" class="form-control" required>
                                </div>
                        </div>
                        <div class="col-sm-12">
                                <div class="form-group">
                                <input type="file" class="form-control-file" name="document" id="exampleInputFile" aria-describedby="fileHelp">
                                <small id="fileHelp" class="form-text text-muted">Hujjtni yuklang</small>
                        </div>
                        </div>
                        <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="note" class="text-dark">Ta'rifi:</label>
                                    <input type="text" name="note" id="note" class="form-control" required>
                                </div>
                        </div>
                        <button type="submit" class="btn btn-success">Biriktirish</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-round" data-dismiss="modal"><i class="zmdi zmdi-close"></i></button>
                </div>
            </div>
        </div>
    </div>
    {% for item in documents %}
        <div class="modal fade" id="colorModal{{ item.id }}" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-white">
                    <div class="modal-header">
                        <h4 class="title text-dark">Ish haqqini biriktirish</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'document_update' item.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="name" class="text-dark">Nomlanishi:</label>
                                    <input type="text" name="name" id="name" class="form-control" value="{{ item.name }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="date_of_issue" class="text-dark">Berilgan sana:</label>
                                    <input type="date" name="date_of_issue" id="date_of_issue" class="form-control" value="{{ item.date_of_issue|date:"Y-m-d" }}">
                                </div>
                        </div>
                        <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="validity_period" class="text-dark">Tugash mudati:</label>
                                    <input type="date" name="validity_period" id="validity_period" class="form-control" value="{{ item.validity_period|date:"Y-m-d" }}">
                                </div>
                        </div>
                        <div class="col-sm-12">
                                <div class="form-group">
                                <input type="file" class="form-control-file" name="document" id="exampleInputFile" aria-describedby="fileHelp" value="{{ item.document.url }}">
                                <small id="fileHelp" class="form-text text-muted">Hujjtni yuklang</small>
                        </div>
                        </div>
                        <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="note" class="text-dark">Ta'rifi:</label>
                                    <input type="text" name="note" id="note" class="form-control" value="{{ item.note }}">
                                </div>
                        </div>
                        <button type="submit" class="btn btn-success">Saqlash</button>
                    </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-round" data-dismiss="modal"><i class="zmdi zmdi-close"></i></button>
                    </div>
                </div>
            </div>
    </div>
    {% endfor %}

{% endblock %}