{% extends 'backoffice/base.html' %}
{% load static %}
{% load app_tags %}
{% block title %}Main{% endblock %}

{% block content %}
    <!-- Main Content -->
    <section class="content home">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Bosh sahifa</h2>
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href="{% url 'backoffice-main' %}"><i
                                    class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item active">Bosh sahifa</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-3 col-md-6">
                    <div class="card text-center">
                        <div class="body">
                            <p class="m-b-20"><i class="zmdi zmdi-balance zmdi-hc-3x col-amber"></i></p>
                            <span>Bo'limlar</span>
                            <h3 class="m-b-10"><span class="number count-to" data-from="0"
                                                     data-to="{{ department_amounts }}" data-speed="2000"
                                                     data-fresh-interval="700">{{ department_amounts }}</span></h3>
                            {#                        <small class="text-muted">27% lower growth</small>#}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card text-center">
                        <div class="body">
                            <p class="m-b-20"><i class="zmdi zmdi-folder-person zmdi-hc-3x col-blue"></i></p>
                            <span>Lavozim</span>
                            <h3 class="m-b-10 number count-to" data-from="0" data-to="{{ position_amounts }}"
                                data-speed="2000" data-fresh-interval="700">{{ position_amounts }}</h3>
                            {#                        <small class="text-muted">88% lower growth</small>#}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card text-center">
                        <div class="body">
                            <p class="m-b-20"><i class="zmdi zmdi-account zmdi-hc-3x"></i></p>
                            <span>Hodimlar</span>
                            <h3 class="m-b-10 number count-to" data-from="0" data-to="{{ amount_staff }}"
                                data-speed="2000" data-fresh-interval="700">{{ amount_staff }}</h3>
                            {#                        <small class="text-muted">38% lower growth</small>#}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card text-center">
                        <div class="body">
                            <p class="m-b-20"><i class="zmdi zmdi-account-box zmdi-hc-3x col-green"></i></p>
                            <span>Kondidatlar</span>
                            <h3 class="m-b-10 number count-to" data-from="0" data-to="{{ bot_user_list_counter }}"
                                data-speed="2000" data-fresh-interval="700">{{ bot_user_list_counter }}</h3>
                            {#                        <small class="text-muted">78% lower growth</small>#}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Hodim</strong> Statistikasi</h2>
                            <ul class="header-dropdown">
                                <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle"
                                                        data-toggle="dropdown" role="button" aria-haspopup="true"
                                                        aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                    <ul class="dropdown-menu slideUp">
                                        <li><a href="javascript:void(0);" class="boxs-close">Hide</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body m-b-10">
                            <div class="progress-container progress-info">
                                <span class="progress-badge">Male</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ male_count }}"
                                         aria-valuemin="0" aria-valuemax="{{ company_staff_count }}"
                                         style="width: {{ width_male }}%;">
                                        <span class="progress-value">{{ male_count }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="body m-b-20">
                            <div class="progress-container progress-warning">
                                <span class="progress-badge">Female</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ female_count }}"
                                         aria-valuemin="0" aria-valuemax="{{ company_staff_count }}"
                                         style="width: {{ width_female }}%;">
                                        <span class="progress-value">{{ female_count }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2>Kunlar bo’yicha tashriflar statistikasi</h2>
                            <ul class="header-dropdown">
                                <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle"
                                                        data-toggle="dropdown" role="button" aria-haspopup="true"
                                                        aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
                                        style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(32px, 32px, 0px);">
                                        <li><a href="javascript:void(0);" class="boxs-close">Hide</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="e_chart" id="echart-rainfall"
                                 style="height: 400px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2>Qurilmalr</h2>
                            <ul class="header-dropdown">
                                <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle"
                                                        data-toggle="dropdown" role="button" aria-haspopup="true"
                                                        aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
                                        style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(32px, 32px, 0px);">
                                        <li><a href="javascript:void(0);" class="boxs-close">Hide</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive earning-report">
                                <table class="table m-b-0 table-hover">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Qurilma nomi</th>
                                        <th>Oxirgi ulanish</th>
                                        <th>Lokatsiya</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td style="width:60px;"><span class="rounded"><img
                                                src="{% static 'backoffice/assets/images/xs/avatar1.jpg' %}" alt="user"
                                                width="50"></span></td>
                                        <td>
                                            <h6>BOCK204560059</h6><small class="text-muted">iPad</small></td>
                                        <td><span class="badge badge-success">05.05.2021  11:32</span></td>
                                        <td>Yuksak TAAB</td>
                                    </tr>
                                    <tr>
                                        <td style="width:60px;"><span class="rounded"><img
                                                src="{% static 'backoffice/assets/images/xs/avatar1.jpg' %}" alt="user"
                                                width="50"></span></td>
                                        <td>
                                            <h6>BOCK204560059</h6><small class="text-muted">iPad</small></td>
                                        <td><span class="badge badge-success">05.05.2021  11:32</span></td>
                                        <td>Yuksak TAAB</td>
                                    </tr>
                                    <tr>
                                        <td style="width:60px;"><span class="rounded"><img
                                                src="{% static 'backoffice/assets/images/xs/avatar1.jpg' %}" alt="user"
                                                width="50"></span></td>
                                        <td>
                                            <h6>BOCK204560059</h6><small class="text-muted">iPad</small></td>
                                        <td><span class="badge badge-success">05.05.2021  11:32</span></td>
                                        <td>Yuksak TAAB</td>
                                    </tr>
                                    <tr>
                                        <td style="width:60px;"><span class="rounded"><img
                                                src="{% static 'backoffice/assets/images/xs/avatar1.jpg' %}" alt="user"
                                                width="50"></span></td>
                                        <td>
                                            <h6>BOCK204560059</h6><small class="text-muted">iPad</small></td>
                                        <td><span class="badge badge-success">05.05.2021  11:32</span></td>
                                        <td>Yuksak TAAB</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2>Bayramlar</h2>
                            <ul class="header-dropdown">
                                <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle"
                                                        data-toggle="dropdown" role="button" aria-haspopup="true"
                                                        aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
                                        style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(32px, 32px, 0px);">
                                        <li><a href="javascript:void(0);" class="boxs-close">Hide</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body m-b-20 l-blue">
                            <div class="event-name row">
                                <div class="col-3 text-center">
                                    <h4>28<span>Dec</span><span></span></h4>
                                </div>
                                <div class="col-9">
                                    <h6>Google</h6>
                                    <p>It is a long established fact that a reader will be distracted</p>
                                    <address><i class="zmdi zmdi-pin"></i> 123 6th St. Melbourne, FL 32904</address>
                                </div>
                            </div>
                        </div>
                        <div class="body m-b-5 l-green">
                            <div class="event-name row">
                                <div class="col-3 text-center">
                                    <h4>13<span>Dec</span><span></span></h4>
                                </div>
                                <div class="col-9">
                                    <h6>Tug'ilgan kun</h6>
                                    <p>It is a long established fact that a reader will be distracted</p>
                                    <address><i class="zmdi zmdi-pin"></i> 123 6th St. Melbourne, FL 32904</address>
                                </div>
                            </div>
                        </div>
                        <div class="body l-green">
                            <div class="event-name row">
                                <div class="col-3 text-center">
                                    <h4>11<span>Dec</span><span></span></h4>
                                </div>
                                <div class="col-9">
                                    <h6>Konferensiya</h6>
                                    <p>It is a long established fact that a reader will be distracted</p>
                                    <address><i class="zmdi zmdi-pin"></i> 123 6th St. Melbourne, FL 32904</address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Jquery Core Js -->


{% endblock %}


{% block js %}


    <script>
        // Kechikanlar soni
        (function () {
            let chart = document.getElementById("echart-rainfall");
            let myChart = echarts.init(chart);

            let option = {
                 legend: {
                    data:['Kech qolganlar'],
                    bottom: '0',
                 },
                grid: {
                    left: '5%',
                    right:'0%',
                    top: '2%',
                    bottom:'15%',
                },
                tooltip : {
                    trigger: 'axis'
                },
                calculable : true,


                xAxis: [{
                    type: 'category',
                    data: ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Satur', 'Sun'],
                    axisLine:{
                        lineStyle: {
                                color: '#f8f9fa',
                        }
                    },
                    axisLabel: {
                        color: '#4D5052',
                    }
                 }],


                yAxis: [{
                    type: 'value',
                    splitLine: {
                        lineStyle:{
                                color: '#f8f9fa',
                            }
                    },
                     axisLine:{
                        lineStyle:{
                            color: '#f8f9fa',
                        }
                    },
                    axisLabel: {
                        color: '#4D5052',
                    }
                }],


                series: [{
                    name: "Kech qolganlar",
                    type: "bar",
                    color: '#45e5c3',
                    data: {{ late_came_person_count_per_day }},
                    markPoint : {
                        data : [
                                {type : 'max', name: 'Max'},
                                {type : 'min', name: 'Min'}
                            ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: 'Average'}
                        ]
                    }
                }],
            }

            myChart.setOption(option, true)
        })()

    </script>

{% endblock %}