{% extends 'backoffice/base.html' %}
{% load static %}
{% load app_tags %}
{% block title %}Главный{% endblock %}

{% block content %}
    <section class="content home">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        {#                        <h2>Главная страница</h2>#}
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href="{% url 'backoffice-main' %}"><i
                                    class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item active">Главная страница</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6">
                    <div class="card text-center">
                        <div class="body">
                            <p class="m-b-20"><i class="zmdi zmdi-balance zmdi-hc-3x col-amber"></i></p>
                            <span>Отделение</span>
                            <h3 class="m-b-10"><span class="number count-to" data-from="0"
                                                     data-to="{{ department_amounts }}" data-speed="2000"
                                                     data-fresh-interval="700">{{ department_amounts }}</span></h3>
                            {#                        <small class="text-muted">27% lower growth</small>#}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card text-center">
                        <div class="body">
                            <p class="m-b-20"><i class="zmdi zmdi-folder-person zmdi-hc-3x col-blue"></i></p>
                            <span>Должность</span>
                            <h3 class="m-b-10 number count-to" data-from="0" data-to="{{ position_amounts }}"
                                data-speed="2000" data-fresh-interval="700">{{ position_amounts }}</h3>
                            {#                        <small class="text-muted">88% lower growth</small>#}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card text-center">
                        <div class="body">
                            <p class="m-b-20"><i class="zmdi zmdi-account zmdi-hc-3x"></i></p>
                            <span>Сотрудники</span>
                            <h3 class="m-b-10 number count-to" data-from="0" data-to="{{ amount_staff }}"
                                data-speed="2000" data-fresh-interval="700">{{ amount_staff }}</h3>
                            {#                        <small class="text-muted">38% lower growth</small>#}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card text-center">
                        <div class="body">
                            <p class="m-b-20"><i class="zmdi zmdi-account-box zmdi-hc-3x col-green"></i></p>
                            <span>Количество вакансий</span>
                            <h3 class="m-b-10 number count-to" data-from="0" data-to="{{ vacancy_amount }}"
                                data-speed="2000" data-fresh-interval="700">{{ vacancy_amount }}</h3>
                            {#                        <small class="text-muted">78% lower growth</small>#}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Hodim</strong> Statistikasi</h2>
                        </div>
                        <div class="body m-b-10">
                            <div class="progress-container progress-info">
                                <span class="progress-badge">Мужчины</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ male_count }}"
                                         aria-valuemin="0" aria-valuemax="{{ company_staff_count }}"
                                         style="width: {{ width_male }}%;">
                                        <span class="progress-value">{{ male_count }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="body m-b-20">
                            <div class="progress-container progress-warning">
                                <span class="progress-badge">Женщины</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ female_count }}"
                                         aria-valuemin="0" aria-valuemax="{{ company_staff_count }}"
                                         style="width: {{ width_female }}%;">
                                        <span class="progress-value">{{ female_count }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-borderless table-striped table-hover" id="late_staff">
                                <thead>
                                   <tr>
                                        <th>#</th>
                                        <th>Должность</th>
                                        <th>Количество вакансий</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for position in positions %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ position.name }}</td>
                                            <td>{{ position.count_vacancy }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}


{% block js %}
    <script>
        {% comment %}late_staff{% endcomment %}
        $(function () {

            $('#late_staff').DataTable({
                dom: 'Bfrtip',
                paging: true,
                autoWidth: true,
                buttons: [
                    'copy', 'excel', 'pdf', 'print'
                ],
                responsive: true,
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "oLanguage": {
                    "sEmptyTable": "Список пуст",
                    "sSearch": "Поиск:",
                    "sLengthMenu": "Индикатор _MENU_",
                    "sInfo": "Страница с  _START_ по _END_ , всего _TOTAL_",
                    "oPaginate": {
                        "sFirst": "Первая страница", // This is the link to the first page
                        "sPrevious": "Предыдущая страница", // This is the link to the previous page
                        "sNext": "Следующая страница", // This is the link to the next page
                        "sLast": "Последняя страница" // This is the link to the last page
                    }

                },
            });
        })
    </script>


{% endblock %}