{% extends 'backoffice/base.html' %}
{% load static %}
{% load app_tags %}
{% block title %}Kelish ketish nazorati{% endblock %}

{% block content %}
    <!-- Main Content -->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Bosh sahifa</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="{% url 'backoffice-main' %}"><i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item active">Kelish ketish nazorati</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Kelish ketish nazorati</h2>
                        <ul class="header-dropdown">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-watch"></i> {% now "jS F Y H:i" %} </a>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <table class="table table-borderless table-striped table-hover" id="flow-list">
                            <thead>
                                <tr>
                                    <th>Xodim</th>
                                    <th>Kirish vaqti</th>
                                    <th>Chiqish vaqti</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for staff in staff_flows %}
                                <div>
                                    <tr>
                                        <td rowspan="{{ staff.get_today_flow_count }}">{{ staff.first_name }} {{ staff.last_name }}</td>
                                    </tr>
                                    {% for flow in staff.get_today_flow %}
                                        <tr>
                                            <td>{{ flow.came|date:'H:i' }}
                                                {% if forloop.first %}
                                                    <i class="text-{% if flow.came|date:'H:i'|late_delta_bool:user %}danger{% else %}success{% endif %}">
                                                        ({% if flow.came|date:'H:i'|late_delta_bool:user %}-{% else %}+{% endif %}{{ flow.came|date:'H:i'|late_delta:user }})
                                                    </i>
                                                {% endif %}
                                            </td>
                                            <td>{{ flow.went|date:'H:i' }}
                                                {% if forloop.last %}
                                                    <i class="text-{% if flow.went|date:'H:i'|earlier_delta_bool:user %}danger{% else %}success{% endif %}">
                                                            ({% if flow.went|date:'H:i'|earlier_delta_bool:user %}-{% else %}+{% endif %}{{ flow.went|date:'H:i'|earlier_delta:user }})
                                                    </i>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </div>
                          {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
{% endblock %}

{% block js %}
    <script>
         $(function () {

            $('#flow-list').DataTable({
                 dom: 'Bfrtip',
                 buttons: [
                    'copy', 'excel', 'pdf', 'print'
                ],
                "oLanguage": {

                    "sSearch": "Qidiruv:",
                    "sLengthMenu": "Ko’rsatkich _MENU_ talik",
                    "sInfo": "Sahifa _START_ dan _END_ gacha, umumiy _TOTAL_",
                    "oPaginate": {
                        "sFirst": "Birinchi sahifa", // This is the link to the first page
                        "sPrevious": "Oldingi sahifa", // This is the link to the previous page
                        "sNext": "Keyengi sahifa", // This is the link to the next page
                        "sLast": "Oxirgi sahifa" // This is the link to the last page
                    }

                }
            });
        })
    </script>
{% endblock %}