{% extends 'backoffice/base.html' %}
{% load static %}
{% block title %}
    Сотрудники - {{ staff.first_name }} {{ staff.second_name }} {{ staff.last_name }}
{% endblock %}
{% load rand %}
{% block content %}
    <section class="content profile-page">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        {#                        <h2>Profile</h2>#}
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="{% url 'staff' %}">Сотрудники</a></li>
                            <li class="breadcrumb-item active">{{ staff.first_name }} {{ staff.second_name }}</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="body bg-dark profile-header" style="padding: 60px 0 50px 0;">
                            <div class="row">
                                <div class="col-lg-10 col-md-12">
                                    <img src="{{ staff.qr_code.url }}"
                                         class="user_pic rounded img-raised" style="width: 180px;height: 180px;"
                                         alt="User">
                                    <div class="detail">
                                        <div class="u_name">
                                            <h4><strong>{{ staff.second_name }}</strong> {{ staff.first_name }}</h4>
                                            <span>Должность: {{ staff.position }}</span> /
                                            <span>Отделение: {{ staff.department }}</span>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-12 user_earnings" style="height: 50px">
                                    {#                                    <h6>Ish haqqi(so'm)</h6>#}
                                    {#                                    <h4><small>{{ salary.amount }}</small></h4>#}
                                    {#                                    <h5><small>{{ salary.type_of_work }}</small></h5>#}
                                </div>
                            </div>
                        </div>
                        <ul class="nav nav-tabs profile_tab">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#overview">Информация</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                                    href="#usersettings">Настройки</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="overview">
                            <div class="row">
                                <div class="col-lg-4 col-md-12">
                                    <div class="card">
                                        <div class="header">


                                        </div>
                                        <div class="body">
                                            <img src="{{ staff.image.url }}" alt="" class="img-fluid mb-3">
                                            <small class="text-muted">Адрес проживания: </small>
                                            <p>{{ staff.address }}</p>
                                            <hr>
                                            {#                                            <small class="text-muted">Email address: </small>#}
                                            {#                                            <p>{{ staff.email }}</p>#}
                                            {#                                            <hr>#}
                                            <small class="text-muted">Телефон: </small>
                                            <p>{{ staff.mobile_phone }}</p>
                                            <hr>
                                            <small class="text-muted">Паспортные данные: </small>
                                            <p>{{ staff.note }}</p>
                                            <hr>
                                            <small class="text-muted">Дата рождения: </small>
                                            <p class="m-b-0">{{ staff.birth_date }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <div class="card">
                                        <div class="header">


                                        </div>
                                        <div class="body">

                                            <div class="list-group">
                                                <input type="button" class="btn btn-info"
                                                       onclick="printDiv('work_sprafka')"
                                                       value="Справка от место работы (скачать)"/>
                                                <input type="button" class="btn btn-info"
                                                       onclick="printDiv('income_order')"
                                                       value="Справка o приеме на работу (скачать)"/>
                                                <div id="work_sprafka" style="display: none">
                                                    <p align="center"><strong>СПРАВКА</strong></p>
                                                    <p align="center"><strong>выдаваемая с основного места работы,
                                                        для</strong></p>
                                                    <p align="center"><strong>трудоустройства на работу по
                                                        совместительству</strong></p>
                                                    <p align="center"><strong>в другой организации</strong></p>
                                                    <p>&nbsp;</p>
                                                    <p>Информируем, что гражданин</p>
                                                    <p>&nbsp;</p>
                                                    <table style="width: 100%;" border="0" cellspacing="0"
                                                           cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td width="754" valign="top">
                                                                <p align="center">{{ staff.first_name }} {{ staff.second_name }} {{ staff.last_name }}</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="754" valign="top">
                                                                <p align="center">
                                                                    _________________________________________________________________________________________________________</p>
                                                            </td>
                                                        </tr>

                                                        </tbody>
                                                    </table>
                                                    <p>&nbsp;</p>
                                                    <table style="width: 100%;" border="0" cellspacing="0"
                                                           cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td width="754" valign="top">
                                                                <p align="center">{{ staff.note }}</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="754" valign="top">
                                                                <p align="center">
                                                                    _________________________________________________________________________________________________________</p>

                                                            </td>
                                                        </tr>

                                                        </tbody>
                                                    </table>
                                                    <p>&nbsp;</p>
                                                    <p>с {{ staff.start_work_at }} по сегодняшний день осуществляет свою
                                                        трудовую деятельность в</p>
                                                    <p>&nbsp;</p>
                                                    <table style="width: 100%;" border="0" cellspacing="0"
                                                           cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td width="754" valign="top">
                                                                <p align="center">{{ staff.company }}</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="754" valign="top">
                                                                <p>
                                                                <p align="center">
                                                                    _________________________________________________________________________________________________________</p>
                                                                </p>
                                                            </td>
                                                        </tr>

                                                        </tbody>
                                                    </table>
                                                    <p>&nbsp;</p>
                                                    <table style="width: 100%;" border="0" cellspacing="0"
                                                           cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td width="158" valign="top">
                                                                <p>{{ staff.position.name }} в должности</p>
                                                            </td>
                                                            {#                                                            <td width="596" valign="top">#}
                                                            {#                                                                <p>#}
                                                            {#                                                                <hr>#}
                                                            {#                                                                </p>#}
                                                            {#                                                            </td>#}
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <p>&nbsp;</p>
                                                    <p>&nbsp;</p>
                                                    <p>Настоящая справка выдана для представления при трудоустройстве на
                                                        работу по совместительству в другую организацию в соответствии с
                                                        Положением о порядке работы по совместительству и совмещения
                                                        профессий и должностей, утвержденным постановлением Кабинета
                                                        Министров Республики Узбекистан от 18 октября 2012 года N 297
                                                        (Собрание законодательства Республики Узбекистан, 2012 г., N
                                                        41-42, ст. 485).</p>
                                                    <p>&nbsp;</p>
                                                    <p>&nbsp;</p>
                                                    <table style="width: 100%;" border="0" cellspacing="0"
                                                           cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td width="300" valign="top">
                                                                <p>Руководитель организации</p>
                                                            </td>
                                                            <td width="174" valign="top">
                                                                <p>______________________________</p>
                                                            </td>
                                                            <td width="22" valign="top">
                                                                <p>&nbsp;</p>
                                                            </td>
                                                            <td width="258" valign="top">
                                                                <p>_________________________________________</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="300" valign="top">
                                                                <p>&nbsp;</p>
                                                            </td>
                                                            <td width="174" valign="top">
                                                                <p align="center">(подпись)</p>
                                                            </td>
                                                            <td width="22" valign="top">
                                                                <p align="center">&nbsp;</p>
                                                            </td>
                                                            <td width="258" valign="top">
                                                                <p align="center">(Ф.И.О.)</p>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                                <div id="income_order" style="display: none">
                                                    <p align="center">N {% random_int 1 1024 %}</p>
                                                    <p align="center">О приеме на работу</p>

                                                    <p align="center">от "___"__________ ____ г.</p>

                                                    <p>
                                                        Принять {{ staff.first_name }} {{ staff.second_name }} {{ staff.last_name }}
                                                        на работу с
                                                        {{ staff.start_work_at }} в {{ staff.position.name }} на
                                                        должность в организации {{ staff.company.name }} с общим окладом
                                                        ______________ сум в месяц. </p>


                                                    <p>Подпись руководителя ________________</p>
                                                    <p>С приказом ознакомлен:</p>
                                                    <p>Подпись работника ________________</p>

                                                    <p>"___"________ ____ г.</p>
                                                </div>

                                                <a href="{% url 'document' staff.id %}" class="list-group-item">
                                                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M15.6002 2.60001L20.8002 7.80001V23.4H5.2002V2.60001H15.6002ZM6.5002 3.90001V5.20001H14.3002V3.90001H6.5002ZM15.6002 7.80001H19.5002L15.6002 3.90001V7.80001ZM6.5002 6.50001V7.80001H14.3002V6.50001H6.5002ZM19.5002 10.4V9.10001H6.5002V10.4H19.5002ZM6.5002 11.7V13H11.7002V11.7H6.5002ZM19.5002 15.6V11.7H13.0002V15.6H19.5002ZM6.5002 14.3V15.6H11.7002V14.3H6.5002ZM19.5002 18.2V16.9H6.5002V18.2H19.5002ZM15.6002 20.8V19.5H6.5002V20.8H15.6002Z"
                                                              fill="#374C72"/>
                                                    </svg>

                                                    Документы
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            function printDiv(divName) {
                                var printContents = document.getElementById(divName).innerHTML;
                                var originalContents = document.body.innerHTML;

                                document.body.innerHTML = printContents;

                                window.print();

                                document.body.innerHTML = originalContents;
                            }
                        </script>

                        <div role="tabpanel" class="tab-pane" id="usersettings">
                            <div class="card">
                                {#                                <div class="header">#}
                                {#                                    <h2><strong>Xodim</strong> Sozlamalari</h2>#}
                                {#                                </div>#}
                                <div class="body">
                                    <div class="row clearfix">
                                        <form action="{% url 'staff-detail' staff.id %}" method="post"
                                              enctype="multipart/form-data" style="width: 100%;">
                                            {% csrf_token %}
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" name="first_name" class="form-control"
                                                           placeholder="Имя" value="{{ staff.first_name }}">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" name="second_name" class="form-control"
                                                           placeholder="Фамилия" value="{{ staff.second_name }}">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" name="last_name" class="form-control"
                                                           placeholder="Отчество" value="{{ staff.last_name }}">
                                                </div>
                                            </div>

                                            <div class="col-md-12">

                                                <div class="form-group">
                                                    <label for="birth-date">Дата рождения</label>
                                                    <input type="date" name="birth_date" id="birth-date"
                                                           class="form-control"
                                                           placeholder="Дата рождения"
                                                           value="{{ staff.birth_date|date:"Y-m-d" }}">
                                                </div>
                                            </div>
                                            {#                                            <div class="col-md-12">#}
                                            {#                                                <div class="form-group">#}
                                            {#                                                    <label for="pin-code">Tabel raqami</label>#}
                                            {#                                                    <input type="text" name="tabel_number" id="pin-code"#}
                                            {#                                                           class="form-control"#}
                                            {#                                                           placeholder="Tabel raqami" value="{{ staff.tabel_number }}">#}
                                            {#                                                </div>#}
                                            {#                                            </div>#}
                                            {#                                            <div class="col-md-12">#}
                                            {#                                                <div class="form-group">#}
                                            {#                                                    <label for="tab-num">Hisob raqami</label>#}
                                            {#                                                    <input type="text" id="tab-num" name="account_number"#}
                                            {#                                                           class="form-control"#}
                                            {#                                                           placeholder="Hisob raqami"#}
                                            {#                                                           value="{{ staff.account_number }}">#}
                                            {#                                                </div>#}
                                            {#                                            </div>#}

                                            {#                                            <div class="col-md-12">#}
                                            {#                                                <div class="form-group">#}
                                            {#                                                    <input type="text" name="email" class="form-control"#}
                                            {#                                                           placeholder="E-mail" value="{{ staff.email }}">#}
                                            {#                                                </div>#}
                                            {#                                            </div>#}
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="tel" name="mobile_phone" class="form-control"
                                                           placeholder="Телефон"
                                                           value="{{ staff.mobile_phone }}">
                                                </div>
                                            </div>
                                            {#                                            <div class="col-md-12">#}
                                            {#                                                <div class="form-group">#}
                                            {#                                                    <input type="tel" name="home_phone" class="form-control"#}
                                            {#                                                           placeholder="Uy telefoni" value="{{ staff.home_phone }}">#}
                                            {#                                                </div>#}
                                            {#                                            </div>#}

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" name="address" class="form-control"
                                                           placeholder="Адрес проживания" value="{{ staff.address }}">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form.gender }}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    Отделение:
                                                    <select name="department" id="">
                                                        {% for department in departments %}
                                                            <option value="{{ department.id }}">{{ department.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    Должность:
                                                    <select name="position" id="">
                                                        {% for position in positions %}
                                                            <option value="{{ position.id }}">{{ position.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            {#                                            <div class="col-md-12">#}
                                            {#                                                <div class="form-group">#}
                                            {#                                                    Ish jadvali:#}
                                            {#                                                    {{ form.work_graph }}#}
                                            {#                                                </div>#}
                                            {#                                            </div>#}
                                            <div class="col-md-12">

                                                <div class="form-group">
                                                    <label for="started-work-date">Дата начала работы</label>
                                                    <input type="date" name="start_work_at" id="started-work-date"
                                                           class="form-control"
                                                           placeholder=""
                                                           value="{{ staff.start_work_at|date:"Y-m-d" }}">
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input class="form-control no-resize"
                                                           placeholder="Паспортные данныеi" type="text" name="note"
                                                           value="{{ staff.note }}">
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="username">Имя пользователя:</label>
                                                    <input type="text" name="username" id="username"
                                                           value="{{ staff.username }}" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="password">Пароль:</label>
                                                    <input type="text" name="password" id="password"
                                                           value="{{ staff.password }}" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    {{ form.image }}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button class="btn btn-success waves-effect" type="submit">Сохранять
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    {#    <!-- Default Size -->#}
    {#    <div class="modal fade" id="addevent" tabindex="-1" role="dialog">#}
    {#        <div class="modal-dialog" role="document">#}
    {#            <div class="modal-content">#}
    {#                <div class="modal-header">#}
    {#                    <h4 class="title" id="defaultModalLabel">Add Event</h4>#}
    {#                </div>#}
    {#                <div class="modal-body">#}
    {#                    <div class="form-group">#}
    {#                        <div class="form-line">#}
    {#                            <input type="number" class="form-control" placeholder="Event Date">#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="form-group">#}
    {#                        <div class="form-line">#}
    {#                            <input type="text" class="form-control" placeholder="Event Title">#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="form-group">#}
    {#                        <div class="form-line">#}
    {#                            <textarea class="form-control no-resize" placeholder="Event Description..."></textarea>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="modal-footer">#}
    {#                    <button type="button" class="btn btn-primary btn-round waves-effect">Add</button>#}
    {#                    <button type="button" class="btn btn-simple btn-round waves-effect" data-dismiss="modal">CLOSE#}
    {#                    </button>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <!-- Jquery Core Js -->#}
{% endblock %}