{% extends 'backoffice/base.html' %}


{% block title %}
    Xodimlar
{% endblock %}

{% block content %}
    <section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>XODIMLAR</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="{% url 'backoffice-main' %}"><i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">XODIMLAR</a></li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-search"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <a href="{% url 'staff_create' %}" class="btn btn-success">Hodim yaratish <i class="zmdi zmdi-plus"></i></a>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                   <tr>
                                        <th>To'liq ismi</th>
                                        <th>Ish boshlagan sana</th>
                                        <th>Bo'lim</th>
                                        <th>Lavozim</th>
                                        <th>O'chirish</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>To'liq ismi</th>
                                        <th>Ish boshlagan sana</th>
                                        <th>Bo'lim</th>
                                        <th>Lavozim</th>
                                        <th>O'chirish</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for staff in staffs %}
                                        <tr>
                                            <td><a href="{% url 'staff-detail' staff.pk %}">{{ staff.first_name }} {{ staff.second_name }} {{ staff.last_name }}</a></td>
                                            <td>{{ staff.birth_date }}</td>
                                            <td>{{ staff.department }}</td>
                                            <td>{{ staff.position}}</td>
                                            <td>
                                                <form action="{% url 'staff_delete' pk=staff.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <input class="btn btn-default btn-danger" type="submit" value="O'shirish"/>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}