{% extends 'backoffice/base.html' %}


{% block title %}
    Xodimlar
{% endblock %}

{% block content %}
    <section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2>Xodimlar</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="{% url 'backoffice-main' %}"><i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item">Xodimlar</li>
                    </ul>
                    {% if messages %}
                             {% for message in messages %}
                                 <div class="text-center btn btn-success rounded-lg w-100 btn-{{ message.tags }} messages">
                                     <p class="text-center">{{ message|safe }}</p>
                                 </div>
                             {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <a href="{% url 'staff_create' %}" class="btn btn-success">Hodim yaratish <i class="zmdi zmdi-plus"></i></a>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-borderless table-striped table-hover" id="example_1">
                                <thead>
                                   <tr>
                                        <th>#</th>
                                        <th>To'liq ismi</th>
                                        <th>Ish boshlagan sana</th>
                                        <th>Bo'lim</th>
                                        <th>Lavozim</th>
                                        <th>O'chirish</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for staff in staffs %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td><a href="{% url 'staff-detail' staff.pk %}">{{ staff.first_name }} {{ staff.second_name }} {{ staff.last_name }}</a></td>
                                            <td>{{ staff.birth_date }}</td>
                                            <td>{{ staff.department }}</td>
                                            <td>{{ staff.position}}</td>
                                            <td>
                                                {% comment %}Delete{% endcomment %}
                                                <a href="javascript:void(0);" data-color="pink"
                                               data-toggle="modal" data-target="#staff-{{ staff.id }}"
                                               class="btn btn-neutral waves-effect">
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.3248 9.4682C19.3248 9.4682 18.7818 16.2032 18.4668 19.0402C18.3168 20.3952 17.4798 21.1892 16.1088 21.2142C13.4998 21.2612 10.8878 21.2642 8.27979 21.2092C6.96079 21.1822 6.13779 20.3782 5.99079 19.0472C5.67379 16.1852 5.13379 9.4682 5.13379 9.4682" stroke="#ED5E5E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M20.708 6.2397H3.75" stroke="#ED5E5E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M17.4406 6.2397C16.6556 6.2397 15.9796 5.6847 15.8256 4.9157L15.5826 3.6997C15.4326 3.1387 14.9246 2.7507 14.3456 2.7507H10.1126C9.53358 2.7507 9.02558 3.1387 8.87558 3.6997L8.63258 4.9157C8.47858 5.6847 7.80258 6.2397 7.01758 6.2397" stroke="#ED5E5E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
    {% for item in staffs %}
        <div class="modal fade" id="staff-{{ item.id }}" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-white">
                <div class="modal-header">

                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="header">
                            <h2>O'chirmoqchimisiz?</h2>
                        </div>
                        <div class="body d-flex justify-content-around">
                            <button type="button" class="btn btn-success rounded-lg waves-effect" data-dismiss="modal">Bekor qilish</button>
                            <form action="{% url 'staff_delete' pk=item.pk %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger rounded-lg waves-effect">O'chirish</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}


{% block js %}
     <script>
        $(function () {
            $('#example_1').DataTable({
                 "dom":' <"search"f><"top"l>rt<"bottom"ip><"clear">',
                 paging: true,
                 autoWidth: true,
                 orderCellsTop: true,
                 fixedHeader: true,
                 buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "columnDefs": [
                    { type: "num", targets: 0 },
                    { type: "phoneNumber", targets: 1 },
                    { type: "phoneNumber", targets: 2 },
                    { type: "phoneNumber", targets: 3 },
                    { type: "phoneNumber", targets: 4 },
                    { type: "phoneNumber", targets: 5 },
                ],
                "oLanguage": {
                    "sEmptyTable": "Ro'yxat bo'sh",
                    "sSearch": "Qidiruv:",
                    "sLengthMenu": "Ko’rsatkich _MENU_ talik",
                    "sInfo": "Sahifa _START_ dan _END_ gacha, umumiy _TOTAL_",
                    "oPaginate": {
                        "sFirst": "Birinchi sahifa", // This is the link to the first page
                        "sPrevious": "Oldingi sahifa", // This is the link to the previous page
                        "sNext": "Keyengi sahifa", // This is the link to the next page
                        "sLast": "Oxirgi sahifa" // This is the link to the last page
                    }

                },
            });
        })
    </script>
    <script>
        setTimeout(fade_out, 3000);
        function fade_out() {
            $(".messages").fadeOut().empty();
        }
    </script>

{% endblock %}